:root {
  --body-background: light-dark(#fefefe, #1d1d1d);
  --text-accent-colour: light-dark(#2365c9, #ff8049);
  --text-accent-colour-highlight: light-dark(#10489f, #ffaf47);
  --text-colour: light-dark(#000, #fff);
  --text-colour-muted: light-dark(#151515, #d3d3d3);

  color-scheme: light dark;
  font-family: system-ui, sans-serif;
  background: var(--body-background);
}

body {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  color: var(--text-colour);
}

small {
  color: var(--text-colour-muted);
}

a {
  text-decoration-line: underline;
  text-decoration-thickness: 6%;
  text-underline-offset: 0.2em;

  i {
    text-decoration-line: inherit;
    text-decoration-thickness: inherit;
    text-underline-offset: inherit;
  }

  &,
  &:visited {
    color: var(--text-accent-colour);
  }

  &:hover {
    color: var(--text-accent-colour-highlight);
    text-decoration-thickness: 11%;
  }
}

p {
  margin: 0 0 1rem;
}

h1 {
  margin-top: 0;
}

h2 {
  margin-bottom: 0.75rem;
}

h3 {
  margin-bottom: 0.25rem;
}

input {
  width: 100%;
  margin-bottom: 1rem;
}
