---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Page not found">
  <h1>Page not found</h1>
  <p>The page you tried to visit couldn’t be found.</p>
  <p><a href="/">Home</a></p>
</Layout>
