---
import type { ImageMetadata } from "astro"
import { Image } from "astro:assets"

export interface Props {
  image: ImageMetadata
  title: string
}

const { image, title } = Astro.props
---

<a href={image.src} title={title}>
  <Image
    src={image}
    alt={title}
    class="screenshot"
    format="png"
    sizes="200px"
    widths={[200, 400, 600, 800, image.width]}
  />
</a>

<style>
  a {
    display: block;
    flex: 1 0 auto;
  }

  .screenshot {
    width: 225px;
    height: auto;
  }
</style>
