---
import type { ImageMetadata } from "astro"
import { chunk, sum } from "lodash-es"

import { PostImage } from "@/components"

export interface Props {
  images: {
    image: ImageMetadata
    alt: string
    class?: string
  }[]
  rowSize?: number
}

const { images, rowSize = 2, ...rest } = Astro.props
---

<figure {...rest}>
  <div class="grid">
    {
      chunk(images, rowSize).map((chunk) => {
        const imageARs = chunk.map(({ image }) => image.width / image.height)
        const totalAR = sum(imageARs)

        return (
          <div
            class="grid-row"
            style={{
              gridTemplateColumns: `${imageARs.map((aR) => `${aR / totalAR}fr`).join(" ")}`,
            }}
          >
            {chunk.map(({ ["class"]: class_, image, alt }) => (
              <a href={image.src}>
                <PostImage
                  src={image}
                  alt={alt}
                  class:list={["image", class_]}
                />
              </a>
            ))}
          </div>
        )
      })
    }
  </div>
  <figcaption>
    <slot />
  </figcaption>
</figure>

<style>
  .grid {
    display: flex;
    flex-direction: column;
    column-gap: 0.5rem;
  }

  .grid-row {
    @media (min-width: 400px) {
      display: grid;
      column-gap: 0.5rem;
    }
  }
</style>
