---
import { Icon } from "astro-icon/components"

export interface Props {
  class?: string
  entryName: string
  nextHref?: string
  previousHref?: string
}

const { class: class_, nextHref, previousHref, entryName } = Astro.props
---

<style>
  .pagination {
    font-family: var(--sans-serif-font-family);
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
    margin-top: 2.4rem;

    .next {
      justify-self: right;
    }

    a {
      text-underline-offset: 0.25em;
    }
  }
</style>

<div class:list={["pagination", class_]}>
  <div class="previous">
    {
      previousHref && (
        <a href={previousHref}>
          <Icon name="ri:arrow-left-s-line" />
          <span class="nav-link-text">
            Newer<span class="visually-hidden"> {entryName}</span>
          </span>
        </a>
      )
    }
  </div>
  <div class="next">
    {
      nextHref && (
        <a href={nextHref}>
          <span class="nav-link-text">
            Older<span class="visually-hidden"> {entryName}</span>
          </span>
          <Icon name="ri:arrow-right-s-line" />
        </a>
      )
    }
  </div>
</div>
